/*DEPENDENCIES: BOOTSTRAP*/

:root {
    --CLUSTER-CARD_WIDTH: 95%;
    --CLUSTER-CARD_HEIGHT: 95%;
    --CLUSTER-CARD_HEAD-HEIGHT: 10%;
    --CLUSTER-CARD_BODY-HEIGHT: calc(100% - var(--CLUSTER-CARD_HEAD-HEIGHT));
    --CLUSTER-CARD_FEEDBACK-ENTRY-HEIGHT: 40%;
    --CLUSTER-CARD_FEEDBACK-ENTRY_BTN-WIDTH: 30%;
    --CLUSTER-CARD_FEEDBACK-ENTRY_TEXT-WIDTH: calc(100% - var(--CLUSTER-CARD_FEEDBACK-ENTRY_BTN-WIDTH));
    --CLUSTER-CARD_UNCLUSTERED-SENTENCE-HEIGHT: 20%;
}

@media (min-width: 992px) {
    :root {
        --CLUSTER-CARD_WIDTH: 95%;
        --CLUSTER-CARD_HEIGHT: 95%;
        --CLUSTER-CARD_HEAD-HEIGHT: 10%;
        --CLUSTER-CARD_BODY-HEIGHT: calc(100% - var(--CLUSTER-CARD_HEAD-HEIGHT));
        --CLUSTER-CARD_FEEDBACK-ENTRY-HEIGHT: 40%;
        --CLUSTER-CARD_FEEDBACK-ENTRY_BTN-WIDTH: 30%;
        --CLUSTER-CARD_FEEDBACK-ENTRY_TEXT-WIDTH: calc(100% - var(--CLUSTER-CARD_FEEDBACK-ENTRY_BTN-WIDTH));
        --CLUSTER-CARD_UNCLUSTERED-SENTENCE-HEIGHT: 10%;
    }
}


.ClusterCard {
    border: var(--DBG-BORDER3);
    height: var(--CLUSTER-CARD_HEIGHT);
    width: var(--CLUSTER-CARD_WIDTH);
}

.ClusterCard .container_fluid {
    border: var(--DBG-BORDER);
    background-color: var(--DBG-BGCLR2);
    position: relative;
    height: 100%;
    width: 100%;
    overflow: hidden; /* TODO change this to allow for more cards*/
}

.ClusterCard .ClusterCard_head {
    /*background-color: var(--DBG-BGCLR);*/
    border: var(--DBG-BORDER2);
    height: var(--CLUSTER-CARD_HEAD-HEIGHT);
    display: flex;
    justify-content: space-between;
}

/* cluster title */
.ClusterCard .ClusterCard_head div:nth-child(1) {

    width: 50%;
}

/* cluster close */
.ClusterCard .ClusterCard_head div:nth-child(2) {

    width: 20%;
    text-align: right;
}

.ClusterCard .ClusterCard_body {
    border: var(--DBG-BORDER2);
    height: var(--CLUSTER-CARD_BODY-HEIGHT);
    overflow-y: scroll;
}

.ClusterCard .ClusterCard_body .container_fluid {
    overflow-y: scroll;
}



.ClusterCard .ClusterCard_body .ClusterCard_feedback {

    height: var(--CLUSTER-CARD_FEEDBACK-ENTRY-HEIGHT);
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;

}

.ClusterCard_feedback div {
    height: 100%;
    border: var(--DBG-BORDER3);
    overflow: hidden;
    display: inline-flex;
    align-items: center;
    width: auto;

}

.ClusterCard_feedback div:nth-child(2){
    width: var(--CLUSTER-CARD_FEEDBACK-ENTRY_BTN-WIDTH);

}

.unclusteredSentencesWrapper {
    overflow-y: scroll;
}

.unclusteredSentencesWrapper .unclustered-sentence {
    background-color: var(--DBG-BGCLR);
    width: 100%;
    height: auto;
    min-height: var(--CLUSTER-CARD_UNCLUSTERED-SENTENCE-HEIGHT);
    margin-bottom: 1rem;
}


