/* for >= 992 px */

@media (min-width: 992px) {
    :root {
        --MAIN-SECTION-HEAD-HEIGHT: 5%;
    }

    .no-display-until-lg {
        display: initial;
    }

    .main {
        display: flex;
        justify-content: space-between;
    }
    .main .row {
        display: inline-block;
        width: 100%;
        height: 100%;
        border: var(--DBG-BORDER3);
    }

    .clustersWrapper .col:nth-child(2){
        height: 100%;
        width: 100%;
        margin: auto;
        overflow-y: scroll;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }

    .ClusterCard {
        margin-bottom: 5rem;
        max-width: 80%;
        max-height: 70%;
    }






}