* {
    box-sizing: border-box;!important;
}

:root {
    --DBG-BGCLR: navajowhite;
    /*--DBG-BGCLR2: red;*/
    --DBG-BORDER: 1px solid ;
    --DBG-BORDER2: 1px solid greenyellow;
    --DBG-BORDER3: 3px solid purple;
    --MAIN-SECTION-1-HEIGHT: 60%;
    --MAIN-SECTION-2-HEIGHT: calc(100% - var(--MAIN-SECTION-1-HEIGHT));
    --MAIN-SECTION-HEAD-HEIGHT: 10%;
    --MAIN-SECTION-BODY-HEIGHT: calc(100% - var(--MAIN-SECTION-HEAD-HEIGHT));
}

.dontdisplay {
    display: none;
}

body {
    width: 100vw;
    height: 100vh;
    padding: 2px;
    overflow: hidden;
}

/* just for debugging */
body {
    /*border: 1px solid;*/
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
}

.main {
    border: var(--DBG-BORDER);
    height: 100%;

}

.row {
    border: var(--DBG-BORDER);
}

.main_section1 {
    height: var(--MAIN-SECTION-1-HEIGHT);
}

.main_section2 {
    border-top: none;
    height: var(--MAIN-SECTION-2-HEIGHT);
}

.section_head {
    border: var(--DBG-BORDER2);
    height: var(--MAIN-SECTION-HEAD-HEIGHT);

}

.section_body {
    border: var(--DBG-BORDER);
    height: var(--MAIN-SECTION-BODY-HEIGHT);
    overflow: hidden;
}

.section_head .container_fluid {
    background-color: var(--DBG-BGCLR2);
    display: flex;
    justify-content: space-between;
    height: 100%;
    align-items: center;
}

.section_body .container_fluid{
    background-color: var(--DBG-BGCLR);
    width: 100%;
    height: 100%;
    padding: 0;
}

.section_body .row {
    width: 100%;
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
}

.section_body .row .col {
    height: 100%;
}

.clustersWrapper .col {

    border: var(--DBG-BORDER)
}
.clustersWrapper .col {
    display: flex;
    align-items: center;
}
    /* this is the div that contains ClusterCards. */
.clustersWrapper .col:nth-child(2) {
    flex-direction: row;
    justify-content: center;
    overflow-x: scroll;
}



.unclusteredSentencesWrapper {

    overflow-y: scroll;
}


/* hides scroll bar but still enables scrolling */
.hideScrollBar{
    -ms-overflow-style: none; /* for Internet Explorer, Edge */
    scrollbar-width: none; /* for Firefox */
}

.hideScrollBar::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera */
}